@import url("../../../core/theme/color.css");
@import url("../../../core/theme/reset.css");

.marqueeContainer {
  display: flex;
  width: 600px;
  padding-block: 20px;
  border: 1px solid var(--border);

  mask-image: linear-gradient(to right, transparent, black 12px, black calc(100% - 12px), transparent);
  overflow: hidden;

  & > * {
    flex-shrink: 0;
  }
}

.marqueeItem {
  width: 150px;
  height: 200px;

  --speed: 5;

  --origin-x: calc((var(--count) - var(--idx)) * 100%);
  --origin-y: 0;
  --destination-x: calc(calc((var(--idx) + 1) * -100%));
  --destination-y: 0;
  --duration: calc(var(--speed) * 1s);
  --delay: calc((var(--duration) / var(--count)) * (var(--idx) - var(--count) * 0.5) - 4s);
  translate: var(--origin-x) var(--origin-y);
  animation: marqueeFlow linear infinite;
  animation-duration: var(--duration);
  animation-delay: calc(var(--delay));
}

@keyframes marqueeFlow {
  to {
    translate: var(--destination-x) var(--destination-y);
  }
}
