@import url("../../../core/theme/color.css");
@import url("../../../core/theme/reset.css");

.object {
  --object-height: 210px;
  --object-width: 150px;
  --font-size: calc(var(--object-height) * 0.5 + var(--object-height) * 0.5);
  --perspective: 1;

  width: var(--object-width);
  height: var(--object-height);

  position: relative;
  color: var(--background);
  font-family: monospace;
  font-size: var(--object-height);

  perspective: calc(var(--perspective) * 1em);
}

.object[data-outline="true"] {
  outline: 2px dotted #f00;
}

.object > div {
  --gap: 2px;
  --h: 6px;
  --w: 4px;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--foreground);

  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.object > div:nth-child(odd) {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(50% - var(--gap) / 2 - var(--h)),
    calc(100% - var(--w)) calc(50% - var(--gap) / 2 - var(--h)),
    calc(100% - var(--w)) calc(50% - var(--gap) / 2),
    var(--w) calc(50% - var(--gap) / 2),
    var(--w) calc(50% - var(--gap) / 2 - var(--h)),
    0 calc(50% - var(--gap) / 2 - var(--h))
  );
}

.object > div:nth-child(even) {
  clip-path: polygon(
    0 calc(50% + var(--gap) / 2 + var(--h)),
    0 100%,
    100% 100%,
    100% calc(50% + var(--gap) / 2 + var(--h)),
    calc(100% - var(--w)) calc(50% + var(--gap) / 2 + var(--h)),
    calc(100% - var(--w)) calc(50% + var(--gap) / 2),
    calc(0% + var(--w)) calc(50% + var(--gap) / 2),
    calc(0% + var(--w)) calc(50% + var(--gap) / 2 + var(--h))
  );
}

.object > div:nth-child(1) {
  z-index: 3;
  backface-visibility: hidden;
}

.object > div:nth-of-type(2) {
  /* z-index: 2; */
}

.object > div:nth-of-type(3) {
  backface-visibility: hidden;
}

.object > div:nth-of-type(4) {
  z-index: 2;
  backface-visibility: hidden;
}
