@import url("../../../core/theme/color.css");
@import url("../../../core/theme/reset.css");

.boardContainer {
  --block-bg: linear-gradient(to bottom, #000000, #2f2f2f);
  --object-height: 70px;
  --object-width: 50px;
  --font-size: calc(var(--object-width) * 0.45 + var(--object-height) * 0.45);
  --perspective: 1.5;
  /* 윗부분과 아랫부분 사이 */
  --gap: 1px;
  /* 들어간 부분 높이 */
  --h: 5px;
  /* 들어간 부분 너비 */
  --w: 3px;

  &[data-theme="sky"] {
    --block-bg: linear-gradient(to bottom, #2980b9, #6dd5fa);
  }

  &[data-theme="peach"] {
    --block-bg: linear-gradient(to bottom, #eecda3, #ef629f);
  }

  &[data-theme="magic"] {
    --block-bg: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }

  --top-shape: polygon(
    0 0,
    100% 0,
    100% calc(50% - var(--gap) / 2 - var(--h)),
    calc(100% - var(--w)) calc(50% - var(--gap) / 2 - var(--h)),
    calc(100% - var(--w)) calc(50% - var(--gap) / 2),
    var(--w) calc(50% - var(--gap) / 2),
    var(--w) calc(50% - var(--gap) / 2 - var(--h)),
    0 calc(50% - var(--gap) / 2 - var(--h))
  );

  --bottom-shape: polygon(
    0 calc(50% + var(--gap) / 2 + var(--h)),
    0 100%,
    100% 100%,
    100% calc(50% + var(--gap) / 2 + var(--h)),
    calc(100% - var(--w)) calc(50% + var(--gap) / 2 + var(--h)),
    calc(100% - var(--w)) calc(50% + var(--gap) / 2),
    calc(0% + var(--w)) calc(50% + var(--gap) / 2),
    calc(0% + var(--w)) calc(50% + var(--gap) / 2 + var(--h))
  );

  &[data-shape="ellipse"] {
    --half-height: calc(var(--object-height) / 2);
    --half-width: calc(var(--object-width) / 2);
    --half-gap: calc(var(--gap) / 2);

    --top-shape: url(#ellipse-top);
    --bottom-shape: url(#ellipse-bottom);
  }

  display: flex;
  flex-direction: column;
  gap: 6px;
}
