---

---

<nav>
    <ol>
        <li>
            <a href='/'>/index</a>
        </li>
        <li>
            <a href='/test'>/test</a>
        </li>
    </ol>
</nav>

<style>
    nav {
        display: grid;
        place-items: center;
    }
    ol {
        display: flex;
        gap: 1rem;
    }
</style>
