---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/components/NavBar.astro';
import { Marquee } from '@craft/marquee';
---

<Layout>
    <NavBar />
    <main>
        <h1>test page</h1>
    </main>
    <Marquee />
</Layout>

<style></style>
