@import url("../../../core/theme/color.css");
@import url("../../../core/theme/reset.css");

.container{
    width:100vw;
    height:100vh;
    padding:40px;
    /* background:pink; */
}
.grid{
    width:50%;
    height:90%;
    display:grid;
    grid-template-columns:repeat(var(--cols), 1fr);
    grid-template-rows:repeat(var(--rows), 1fr); 
    /* border: 1px solid #ccc; */
}
.dotContainer{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.dot{
    margin:0 auto;
    position:absolute;
    width:var(--size);
    height:var(--size);
    /* transform:translate(-20px); */
    background: radial-gradient(var(--color-out), var(--color-in),transparent 40%);
}