@import url("../../../core/theme/color.css");
@import url("../../../core/theme/reset.css");

.container {
  display: flex;
  flex-direction: row;
  gap: var(--segment-gap);
  height: 100%;

  transition: opacity 1.5s ease-in-out, filter 1s ease-in-out;

  @starting-style {
    opacity: 0;
    filter: blur(8px);
  }

  &:not([data-show="true"]) {
    display: none;
  }
}
