---
import GridBackground from '@/components/GridBackground.astro';
import NavBar from '@/components/NavBar.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <NavBar />
    <main><h1>home</h1></main>
</Layout>

<style></style>
